body {
    background-color:indianred;
}

h1 {
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
}

ol {
    list-style-type: square;
    display: block;
    text-align: center;

    
    
}
li {
    color: white;
    display: inline;
    padding: 5%;

}
nav {
    background-color: rgb(151, 66, 66);
    
    display: block;
    width: 80%;
    margin: auto;
    padding: 1%;
    
}
.sisalto {
    background-color: rgb(128, 56, 56);
    
    display: block;
    width: 80%;
    margin: auto;
    padding: 1%;
    
}
p {
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
  }
  
a {
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
    
  }